*{
    margin: 0;
}

.header {
    background-image: url("images/desert.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 181px;
}

.container {
    padding: 0% 16.7%;
}

.header_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    margin-top: 34px;
}
.header_logo_item {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    padding-top: 3px;
}
.nav{
    margin-top: 34px;
}

.nav_list {
    list-style-type: none;
}

.nav_link {
    color: white;
    text-decoration: none;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.nav_item {
    display: inline;
    margin: 0px 20px;
}

.header_main {
    margin-top: 110px;
    text-align: center;
}

.header_title {
    color: white;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.header_subtitle {
    color: #FFFFFFA1;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    margin-top: 20px;
    padding: 0px 3px;
}

.button {
    background-color: #DD783F;
    text-decoration: none;
    color: white;
    padding: 12px 31px;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn {
    margin-top: 44px;
    padding-top: 14px;
}

.down_nav{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 22px;  
}

.down_nav_list {
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0% 15%;
}

.down_nav_link {
    color: #768088;
    text-decoration: none;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.down_nav_item {
    display: inline;
    margin: 0px 50px;
}

.main{
    padding-top: 40px;
    margin-top: 27px;
    background-color: #F7F7F7;
}

.main_up_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_up_title{
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 17px;
    width: 188px;
    text-align: center;
    color: #2E2E2E;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.main_up_nav{
    height: 294px;
    
}

.main_up_list{
    padding-inline-start: 20px;
}

.main_up_list{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0, 24.5%;
    padding-inline-start: 0px;
    gap: 24px;
    flex-wrap: wrap;    
}

.container_one{
    position: relative;
    background-image: url("images/Northern lights.png");
    background-repeat: no-repeat;
    width: 460px;
    height: 280px;
}

.main_up_date_one {
    position: absolute;
    top: 86%;
    right: 4%;
    color: #FFFFFFB2;
    font-size: 12px;
    text-decoration: none;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main_up_people_one{
    text-decoration: none;
    position: absolute;
    top: 84%;
    left: 4%;
    display: flex;
    gap: 10px;
}

.main_up_people_name_one{
    margin-top: 6px;
    color: #FFFFFFB2;
    text-decoration: none;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.main_nav_subtitle_one{
    position: absolute;
    top: 70%;
    left: 4%;  
    color: #FFFFFFB2;
    text-decoration: none;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;    
}

.main_nav_title_one{
    position: absolute;
    top: 55%;
    left: 4%;
    color: white;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    text-decoration: none;    
}

.container_two{
    position: relative;
    background-image: url("images/Air Lantern.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 460px;
    height: 280px;
}


.main_up_date_two {
    position: absolute;
    top: 86%;
    right: 4%;
    color: #FFFFFFB2;
    font-size: 12px;
    text-decoration: none;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main_up_people_two{
    text-decoration: none;
    position: absolute;
    top: 84%;
    left: 4%;
    display: flex;
    gap: 10px;
}

.main_up_people_name_two{
    margin-top: 6px;
    color: #FFFFFFB2;
    text-decoration: none;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.main_nav_subtitle_two{
    position: absolute;
    top: 70%;
    left: 4%;  
    color: #FFFFFFB2;
    text-decoration: none;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;    
}

.main_nav_title_two{
    position: absolute;
    top: 55%;
    left: 4%;
    color: white;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    text-decoration: none;    
}

.btn_two{
    position: absolute; 
    top: 9%;
    left: 5%;
}

.button_two {
    background-color: #DD783F;
    text-decoration: none;
    color: white;
    padding: 7px 9px;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.main_down{
    padding-bottom: 111px;
}
.main_down_container{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_down_title{
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 17px;
    width: 188px;
    text-align: center;
    color: #2E2E2E;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.main_down_list_first{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0, 24.5%;
    padding-inline-start: 0px;
    gap: 24px;
    flex-wrap: wrap;    
}

.main_down_list_second{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0, 24.5%;
    padding-inline-start: 0px;
    gap: 24px;
    flex-wrap: wrap;
}

.container_balloons{
    width: 296px;
    height: 291px;
    position: relative;
    background-color: #FFFFFF;
}

.main_nav_title_balloons{
    text-decoration: none;
    color: #101315;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    position: absolute;
    top: 57%;
    left: 5%;
}

.main_nav_subtitle_balloons{
    text-decoration: none;
    color: #7A7A7A;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 296px;
    position: absolute;
    top: 67%;
    left: 5%;  
}
.line{
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #EFEFEF;
    top: 83%;
}
.main_nav_people_balloons{
    display: flex;
    position: absolute;
    top: 87%;
    left: 5%;
    gap: 10px;
}

.main_nav_people_name_balloons{
    text-decoration: none;
    color: #999999;
    margin-top: 5px;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main_nav_date_balloons{
    position: absolute;
    top: 89%;
    right: 10%;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #999999;
}

.container_bridge{
    width: 296px;
    height: 291px;
    position: relative;
    background-color: #FFFFFF;
}

.main_nav_title_bridge{
    text-decoration: none;
    color: #101315;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    position: absolute;
    top: 57%;
    left: 5%;
}

.main_nav_subtitle_bridge{
    text-decoration: none;
    color: #7A7A7A;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 296px;
    position: absolute;
    top: 67%; 
    left: 5%; 
}

.main_nav_people_bridge{
    display: flex;
    position: absolute;
    top: 87%;
    gap: 10px;
    left: 5%;
}

.main_nav_people_name_bridge{
    text-decoration: none;
    color: #999999;
    margin-top: 6px;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main_nav_date_bridge{
    position: absolute;
    top: 89%;
    right: 10%;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #999999;
}

.container_lake{
    width: 296px;
    height: 291px;
    position: relative;
    background-color: #FFFFFF;
}

.main_nav_title_lake{
    text-decoration: none;
    color: #101315;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    position: absolute;
    top: 57%;
    left: 5%;
}

.main_nav_subtitle_lake{
    text-decoration: none;
    color: #7A7A7A;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 296px;
    position: absolute;
    top: 67%;
    left: 5%;
}

.main_nav_people_lake{
    display: flex;
    position: absolute;
    top: 87%;
    gap: 10px;
    left: 5%;
}

.main_nav_people_name_lake{
    text-decoration: none;
    color: #999999;
    margin-top: 6px;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main_nav_date_lake{
    position: absolute;
    top: 89%;
    right: 10%;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #999999;
}

.container_water{
    width: 296px;
    height: 291px;
    position: relative;
    background-color: #FFFFFF;
}

.main_nav_title_water{
    text-decoration: none;
    color: #101315;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    position: absolute;
    top: 57%;
    left: 5%;
}

.main_nav_subtitle_water{
    text-decoration: none;
    color: #7A7A7A;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 296px;
    position: absolute;
    top: 67%;
    left: 5%;  
}

.main_nav_people_water{
    display: flex;
    position: absolute;
    top: 87%;
    gap: 10px;
    left: 5%;
}

.main_nav_people_name_water{
    text-decoration: none;
    color: #999999;
    margin-top: 6px;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main_nav_date_water{
    position: absolute;
    top: 89%;
    right: 10%;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #999999;
}

.container_fog{
    width: 296px;
    height: 291px;
    position: relative;
    background-color: #FFFFFF;
}

.main_nav_title_fog{
    text-decoration: none;
    color: #101315;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    position: absolute;
    top: 57%;
    left: 5%;
}

.main_nav_subtitle_fog{
    text-decoration: none;
    color: #7A7A7A;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 296px;
    position: absolute;
    top: 67%;
    left: 5%;  
}

.main_nav_people_fog{
    display: flex;
    position: absolute;
    top: 87%;
    gap: 10px;
    left: 5%;
}

.main_nav_people_name_fog{
    text-decoration: none;
    color: #999999;
    margin-top: 6px;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main_nav_date_fog{
    position: absolute;
    top: 89%;
    right: 10%;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #999999;
}

.container_waterfall{
    width: 296px;
    height: 291px;
    position: relative;
    background-color: #FFFFFF;
}

.main_nav_title_waterfall{
    text-decoration: none;
    color: #101315;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    position: absolute;
    top: 57%;
    left: 5%;
}

.main_nav_subtitle_waterfall{
    text-decoration: none;
    color: #7A7A7A;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 296px;
    position: absolute;
    top: 67%; 
    left: 5%; 
}

.main_nav_people_waterfall{
    display: flex;
    position: absolute;
    top: 87%;
    gap: 10px;
    left: 5%;
}

.main_nav_people_name_waterfall{
    text-decoration: none;
    color: #999999;
    margin-top: 6px;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main_nav_date_waterfall{
    position: absolute;
    top: 89%;
    right: 10%;
    font-size: 13px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #999999;
}
.footer{
    background-image: url(images/image2.png);
    background-size: cover;
}
.footer_container {
    padding: 0% 16.7%;
    background-color: #232F3899;
    height: 89px;
}

.footer_line{
    display: flex;
    justify-content: space-between;
}

.footer_logo_item{
    color: #2E2E2E;
    text-decoration: none;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    padding-top: 3px;
    margin-top: 30px;
}

.footer_nav{
    display: flex;
    margin-top: 8px;
    margin-top: 35px;
}

.footer_nav_list{
    list-style-type: none;
}

.footer_nav_link{
    color: white;
    text-decoration: none;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.footer_nav_item{
    display: inline;
    margin: 0px 20px;
}










